* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #29333a;
}

 .wrapper {
  padding: 35px 40px;
  border-radius: 20px;
  background: #141414;
}
