* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #29333a;
}

 .wrapper {
  padding: 35px 40px;
  border-radius: 20px;
  background: #141414;
}

.wrapper header {
  display: flex;
  color: #b9b1b1;
  align-items: center;
  justify-content: space-between;
}

header h2 {
  font-size: 1.6rem;
}

header .column {
  display: flex;
  align-items: center;
}

header span {
  font-weight: 500;
  margin-right: 15px;
  font-size: 1.2rem;
}

.piano-keys {
    display: flex;
    list-style: none;
    margin-top: 40px;
  }

  .piano-keys .key {
    cursor: pointer;
    user-select: none;
    position: relative;
    text-transform: uppercase;
  }

.piano-keys .black {
  z-index: 2;
  width: 40px;
  height: 120px;
  margin: 0 -22px 0 -22px;
  border-radius: 0 0 5px 5px;
  background: linear-gradient(#333232, #000);
}

.piano-keys .white {
  height: 200px;
  width: 70px;
  border-radius: 8px;
  border: 1px solid #000;
  background: linear-gradient(#fff 96%, #eee 4%);
}

.piano-keys .key span {
  position: absolute;
  bottom: 20px;
  width: 100%;
  color: #A2A2A2;
  font-size: 1.13rem;
  text-align: center;
}
